<%- include('partial/head')  %>


<h1> Keranjang </h1>
<table border="1px"> 
    <% data.Products.forEach(product =>{ %>
        <tr>
            <td><img src="<%= product.picture  %> " alt="<%= product.name  %> " style="width:104px;height:142px;"></td>
            <td>
                Nama : <%= product.name  %> <br>
                Harga : <%= product.harga  %> <br>
                Stock : <%= product.stock  %> <br>
                Deskripsi : Seharusnya ada deskripsi <br>
            </td>
            <td> 
                <button>CheckOut</button>
                <button>Delete</button>
            </td>
        </tr>
    <% }) %> 
</table>


<%- include('partial/foot')  %> 
