<%- include('partial/head')  %>


<table>

    <tr>
        <td><img src="<%= data.picture  %> " alt="<%= data.name  %> " style="width:800px;height:500px;"> </td>
        <td><br>
            Nama : <%= data.name  %><br>
            Stok : <%= data.stock  %>  <br>
            Harga : <%=data.price  %> <br>
        </td>
       


    </tr>
</table>
<%  %> 

<%- include('partial/foot')  %> 
